@font-face {
    font-family: 'iDroid';
    src: url('fontes/idroid.otf') format('opentype');
}

header {
    font-family: 'iDroid', sans-serif;
    background-color: #2C9E5F;
    color: white;
    border: 10px solid #2C9E5F;
    padding: 100px;
}

#subtitulo {
    padding-bottom: 100px;
}

.menu {
    background-color: #2C9E5F;
    color: white;
    border: 10px solid #2C9E5F;
    padding-right: 100px;
}

body {
    background-color: #84E0AD;
}

p {
    text-align: justify;
    text-indent: 30px;
}

main {
    background-color: white;
    margin-bottom: 59px;
    margin-left: 77px;
    margin-right: 55px;
    margin-top: -20px;
}

#titulo_conteudo {
    color: green;
}